.project {
  opacity: 0.6;
}

.project:hover {
  opacity: 0.8;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: white;
  opacity: 1;
  z-index: 3;
  transition: all 0.3s ease;
}

.link {
  background-color: #000;
  opacity: 0;
}

.project:hover .title {
  margin-bottom: 40px;
}

.project:hover .link {
  opacity: 1;
}
