.project {
  opacity: 0.6;
}

.project:hover {
  opacity: 0.8;
  cursor: pointer;
}

.title {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 3;
  transition: all 0.3s ease;
}

.project:hover .title {
  margin-top: -20px;
}

.project:hover .button {
  opacity: 1;
  transition: all 0.35s ease;
}
